<ion-content>
  <div class="flex-center">
    <ion-card class="custom-card">
      <ion-card-header class="center-content">
        <div class="logo">
          <ion-img src="../assets/logo.png"></ion-img>
        </div>
        <ion-card-title>SmartEventos</ion-card-title>
        <ion-card-subtitle>UFSM</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input type="email" label="E-mail" labelPlacement="floating" placeholder="insira o E-mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Senha" labelPlacement="floating" placeholder="Senha"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-nowrap">
            <a href="#">Esqueceu a senha</a>
          </ion-label>
        </ion-item>
        <ion-button class="ion-button" shape="round" size="full">Entrar</ion-button>
        <ion-label class="ion-text-nowrap">
          <a routerLink="/register">Sem login? Cadastre-se aqui!</a>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
